@import "variables";
@import "reset";
@import "style-guide/fonts";
@import "style-guide/text";
@import "style-guide/common";

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 118%;
  box-sizing: border-box;
  outline: none;
  color: $primary;
}

button, a {
  outline: 0;
}

html,
body,
#root {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  background: transparent;
}

.app-wrapper {
  position: relative;
  min-height: 100vh;
  background: $light-gray;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 28px 32px;
  background: $white;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 28px rgba(0, 0, 0, .08);
  border-radius: 8px;
  min-width: 460px;

  &__pad {
    margin: 36px 0;
  }
}

.converter {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 315px);
    grid-column-gap: 64px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }
}

.page {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    justify-content: space-between;
  }
}

.blk {
  &--centered {
    justify-content: center;
  }
  &--mb {
    margin-bottom: 33px;
  }
}