@import "variables";
@import "reset";
@import "style-guide/fonts";
@import "style-guide/text";
@import "style-guide/common";

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 118%;
  box-sizing: border-box;
  outline: none;
  color: $primary;
}

button, a {
  outline: 0;
}

html,
body,
#root {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  background: transparent;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.app-wrapper {
  position: relative;
  min-height: 100vh;
  background: $light-gray;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 28px 32px;
  background: $white;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 28px rgba(0, 0, 0, .08);
  border-radius: 8px;
  min-width: 460px;

  &__pad {
    margin: 36px 0;
  }
}

.currency {
  &__fields {
    margin: 36px 0;
  }

  &__info {
    margin-bottom: 33px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__field {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.converter {
  display: flex;
  flex-direction: column;

  &--centered {
    align-items: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 315px);
    grid-column-gap: 64px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    justify-content: center;
    grid-column-gap: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }
}