.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray;
  border-radius: 4px;
  padding: 5px 20px;
  min-height: 46px;
}

.input {
  width: 100%;
  border: none;
}